<!DOCTYPE html>
<html manifest='default.appcache'>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <title>JumpClone</title>
    <link type="text/css" rel="stylesheet" href="/css/game.css">
  </head>
  <body>
    <canvas id='c'></canvas>
    <script src='/js/game.js'></script>
  </body>
</html>

